<div class="app-title navbar navbar-expand-md">
  <div class="navbar-brand">
    TORISTORE Admin
  </div>
  <div class="ms-auto">
    <%= link_to "一覧画面", admin_products_path, class: "btn btn-outline-dark" %>
    <%= link_to "新規作成", new_admin_product_path(@product), class: "btn btn-outline-dark" %>
  </div>
</div>
